.bg-image-container {
  display: flex;
  align-items: center;
}

.bg-image {
  height: auto;
  width: 100%;
}

.single-activity-banner {
  float: left;
  position: absolute;
  margin-left: 12vw;

  background-color: rgb(0, 0, 0, 0.4);
  height: fit-content;
  width: fit-content;
  padding: 2vw;
}

.single-activity-banner h1 {
  letter-spacing: 4px;
  color: #ececec;
  font-family: Amasis;
  font-weight: normal;
}

.single-activity-banner h1 {
  font-size: 5vw;
}




.desc-gallery{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery-extras{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}




.single-desc {
  color: #3d3d3d;
  font-family: Amasis;
  font-size: larger;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.single-extras{
  color: #3d3d3d;
  font-family: Amasis;
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: center;
}

.single-gallery-container {
  display: flex;
}



.single-extras-ul, .contact-ul{
  margin: 20px;
  list-style: circle;
  line-height: 30px;
}
